:root {
    --primario:#9C27B0;
    --primarioOscuro:#89119D;
    --primarioOpcion:#673AB7;
    --secundario:#FFCE00;
    --secundarioOscuro:#FFB300;
    --secundarioOpcion:#FF9800;
    --blanco:#FFF;
    --negro:#000;

    --fuentePrincipal: 'Staatliches', cursive;
}

.p{
    color: #5c5ce450;
    
}



